FirstVoicesEnrichers/src/test/resources/schemas/fv-word.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:nxs="http://www.nuxeo.org/ecm/project/schemas/First-Voices/fv-word"
           targetNamespace="http://www.nuxeo.org/ecm/project/schemas/First-Voices/fv-word">

    <xs:simpleType name="stringList">
        <xs:list itemType="xs:string"/>
    </xs:simpleType>

    <xs:element name="part_of_speech" type="xs:string"/>
    <xs:element name="categories" type="nxs:stringList"/>
    <xs:element name="related_phrases" type="nxs:stringList"/>
</xs:schema>
